{% extends "base.html" %} {% load static %}
{% block title %} Log in {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <h5>No account？</h5>
            <h5>Click on<a href='{% url "userprofile:register" %}'>Register an account</a>Join us！</h5>
            <br>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="form-group col-md-4">
                    <label for="username">Account number</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group col-md-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <h5>Forgot password？</h5>
            <h5>Click on<a href='{% url "password_reset_recover" %}'>Here</a>Reset password</h5>
        </div>
    </div>
</div>
{% endblock content %}